{
  "server": {
    "http": {
      "port": "8080"
    }
  },
  "databases": {
    "postgres": {
      "host": "127.0.0.1",
      "port": 5432,
      "user": "admin",
      "pwd": "p4ssW0rd",
      "db_name": "db_Base",
      "ssl_mode": "disable"
    }
  },
  "environment": "dev"
}